.breadcrumbBox {
    overflow: hidden;
    color: rgba(var(--colorText), var(--opacityNormal));
    font-size: calc(var(--fontSizeNormal) - 0.05rem);
    margin-top: 0.75rem;
    a {
        color: rgb(var(--colorText));
        &:hover {
            color: rgb(var(--colorTextLight));
        }
    }
    svg {
        margin: 0 0.5rem;
        width: 10px;
        height: 10px;
        color: rgb(var(--colorIcon));
    }
    @media(max-width: 991px){
        svg {
            margin: 0 0.325rem;
        }
    }
    @media(max-width: 577px){
        svg {
            margin: 0 0.25rem;
        }
    }
}

// ✅ Xoay icon nếu giao diện RTL
[dir="rtl"] .breadcrumbBox svg {
    transform: rotate(180deg);
}